:root {

    /*
    Las variables guardar valores en la memoria del navegador, esto me permite reutilizarlas y ordenar mejor mi codigo

    Esto es declarar las variables y asignarles un valor
    */

    --naranja: #FF9900;
    --negro: #000;
    --blanco: #fff;
}


body {
   background-color: #27262b;
    background-image: url(images/pattern.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
    /*
    Reoetir en x, y o no repetir
    background-repeat: repeat;
    
    Imagen que cubra el 100% del fondo pero sin perder proporcion 
    background-size: cover;
    
    
    */
    

.cabecera,
.contenedor {
    max-width: 1000px;
    margin: auto;
}

.cabecera{
    padding-bottom: 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.cabecera h1 {
    font-size: 24px;
    color: var(--naranja);
}

.cabecera a{

}

.contenedor{
    background-color: var(--blanco);
    border-radius: 8px 8px 0 0;

}

.nav {
    background-color: var(--naranja);
    border-radius: 8px 8px 0 0;
}